.App {
  text-align: center;
  background-color: #222222;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-directory {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: flex-start;
  padding-left: 5%;
  align-items: center;
  font-weight: bold;
  background-color: #34a5db;
  height: 10vh;
  width: 100%;
}

.user-info {
  margin: 0 auto;
  background-color: #ebebeb;
  width: 80%;
  margin-top: 8%;
  margin-bottom: 1%;

}

.user-id {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex; 
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 10px;
  
}

.user-name {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  display: flex;
  width: 300px;
  border-bottom: solid #34a5db;
  margin-top: 5%;
  margin-left: 10%;
}

.info {
  font-size: 20px;
  padding-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.from {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 8%;
  
}

strong {
  font-weight: bold;
}

.job-title {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 8%;
  margin-top: 0%;
}

.employer {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 8%;
  margin-top: 0%;
}

.favorite-movies {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movie-list {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10%;
  padding-top: 3%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.first-movie {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15%;
  margin-top: 0%;
}

.second-movie {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15%;
  margin-top: 0%;
}

.third-movie {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0%;
  margin-left: 15%;
  padding-bottom: 8%;
}

.buttons {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0% 10% 15% 10%;
}

.previous {
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 18px;
  display: flex;
}

.next {
  margin-left: 42%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 18px;
  display: flex;
}

.black-diamond-buttons {
  margin-left: 30%;
  display: flex;
  justify-content: center;
}

.edit {
  background-color: #34a5db;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5%;
  font-size: 18px;
  display: flex;
}

.delete {
  background-color: #34a5db;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5%;
  font-size: 18px;
  display: flex;
}

.new {
  background-color: #34a5db;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5%;
  font-size: 18px;
  display: flex;
}